<!DOCTYPE html>
<html>
	<head>
		<title>BARCA</title>
		<link rel="shotcut icon" type="imagen/x-icon" href="imagenes/logo.ico">
		<meta name="description" content="Todo sobre el Futbol"/>
		<meta name="keywords" content="FUTBOL, FUT , SOCCER"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="Estilos/estilos.css">
	</head>
			
	<body>
	<%= link_to 'Alpha Blog', articles_path %>
	<header>
		
					
		  <div class="container-fluid">
			 <div class="row">
		<div class="col-12">
			  <h1> Inicio </h1>
						<img src="imagenes/barca.png" alt="Logo del fcbarcelona" title="Hecho por cesar" width="70" height="70"/>
			<ul class="nav">
			  <li class="nav-item"><a  target="_blanck" href="first page.html" class="nav-link">Home</a></li>
			  <li class= "nav-item"><a href="carusel.html"class="nav-link">Carrusel</a></li> 
			</ul>
		  </div>
		</div>
	</div>
	
					
			</header>
			<div class="row">
					<div class="col-sm-2">
						<p>
						<nav>
					<ul>
					<li><a target="_blanck" href="https://www.fcbarcelona.com/ ">Ir a Pagina oficial</a></li>
					<br/>
					<li><a target="_blanck" href="imagenes/barca.png">Ver Escudo</a></li>
					<br/>
					<li><a target="_blanck" href="documentos/musculos.pdf">Ejercitate con nosotros</a></li>
					<br/>
					<li><a target="_blanck" href="documentos/prueba.docx">Conoce todo sobre Messi </a></li>
					<br/>
					<li><a target="_blanck" href="https://www.nike.com/language_tunnel?ref=https%3A%2F%2Fwww.fcbarcelona.com%2F ">Ir a tienda</a></li>
					<br/>
					<li><a target="_blanck" href="https://www.fcbarcelona.es/noticias">Ultimas noticias</a></li>
					<br/>
					<li><a target="_blanck" href="https://www.fcbarcelona.es/fans/tonos-para-mi-movil/himno-del-barca">HIMNO FCBARCELONA</a></li>
					<br/>
					</ul>

	</nav>
						</p>
						</div>
						
				<div class="container">
				<section class="main row">
					<article class="col-sm-7 col-md-8">
						<p>
							<h1>FCBARCELONA</h1>
		
							<img  src="imagenes/barca.png" alt="Logo del fcbarcelona" title="Hecho por cesar" width="250" height="250"style="margin: 10px 10px 10px 0px;float: right; " />
							<p>
							El Fútbol Club Barcelona (en catalán, Futbol Club Barcelona) es una entidad polideportiva de Barcelona (España). Fue fundado como club de fútbol el 29 de noviembre de 1899.
							Una de las principales características del F. C. Barcelona es su carácter polideportivo.
							Se distingue de las demás instituciones deportivas por el hecho de que posee un extenso palmarés a nivel europeo, por el alto nivel de formación de sus jugadores, el potencial económico que maneja, por la calidad de los jugadores y también porque «posee una remarcable cultura del juego y del triunfo».
							Asimismo, los medallistas olímpicos que han representado a la entidad blaugrana han conquistado 11 oros, 23 de platas y 28 bronces en las distintas disciplinas deportivas.
						​ 	Además de su sección principal, la de fútbol, el club cuenta con otras cuatro secciones profesionales: las de baloncesto, balonmano, hockey sobre patines y fútbol sala.
							Entre las cinco secciones profesionales, el F. C. Barcelona suma 39 Ligas de Campeones (o Euroligas en el caso del baloncesto)nota 1​ lo cual le convierte en el segundo club polideportivo más laureado de Europa y, junto a Dinamo de Moscú y CSKA de Moscú (este con 7), el único que ha conseguido el máximo título continental en 5 deportes diferentes.
							<blockquote>Es el club español más laureado a nivel nacional, con un total de 73 campeonatos: 25 Ligas de España, 30 Copas del Rey, 2 Copas de la Liga, 13 Supercopas de España y 3 Copas Eva Duarte,​ y a nivel internacional posee 3 Copas Mundiales de Clubes, 5 Copas de Europa, 4 Recopas de Europa, 3 Copa de Ferias y 5 Supercopas de Europa.
							Sus dos rivales históricos son el RCD Español, contra el que disputa el derbi catalán, y el Real Madrid, con quien se enfrenta en «El Clásico», siendo este uno de los encuentros de mayor rivalidad e interés del fútbol mundial.
							</blockquote>
		
						</p>
					</article>
					<aside class="col-sm-2 col-md-4">
						<p>
							<H2>EQUIPO</H2>
									<ol>
										<li>TER STEGEN</li>
										<li>SEMEDO</li>
										<li>PIQUE</li>
										<li>RAKITIC</li>
										<li>BUSQUETS</li>
										<li>DENIS</li>
										<li>COUTINHO</li>
										<li>ARTHUR</li>
										<li>SUAREZ</li>
										<li><B><I>MESSI</I></B></li>
										<li>DEMBELE</li>
										<li>RAFINHA</li>
										<li>CILLISEN</li>
										<li>MALCOM</li>
										<li>LENGLET</li>
										<li>ALEÑA</li>
										<li>ALCACER</li>
										<li>ALBA</li>
										<li>MUNIR</li>
										<li>S.ROBERTO</li>
										<li>MARLON</li>
										<li>VIDAL</li>
										<li>UMTITI</li>
										<li>VERMALEN</li>
									</ol>
									<H2>CALENDARIO</H2>
									<table class= "table table-striped">
										<thead>
											<th>Dia</th>
											<th>Local</th>
											<th>visitante</th>
										</thead>
										<tbody>
										<tr>
											<td>2 septiembre</td>
											<td>FCB</td>
											<td>Huesca</td>
										</tr>
										<tr>
											<td>15 Septiembre</td>
											<td>Real Sociedad</td>
											<td>FCB</td>
										</tr>
										<tr>
											<td>23 septiembre</td>
											<td>FCB</td>
											<td>Girona</td>
										</tr>
										<tr>
											<td>26 septiembre</td>
											<td>Leganes</td>
											<td>FCB</td>
										</tr>
										<tr>
											<td>29 septiembre</td>
											<td>FCB</td>
											<td>Atletico de bilbao</td>
										</tr>
										</tbody>
									</table>
									<br/>
		
		</aside>
		</div>
		</section>
		<p>
						
						<div class="container">
						<h2>Registrarse</h2>
						<form action="form.php" method="POST" class="form-horizontal">
						<div class="form-group">
						<br/>
						<label class="control-label col-sm-2" for="Nombre" >Nombre</label>
						<input class="form-control" type="text" name="nombre">
						<br/>
						<div class="form-group">
						<label class="control-label col-sm-2"for="Email"placeholder="Escriba su Email">Email</label>
						<input class="form-control" type="text" name="email">
						<br/>
						<div class="form-group">
						<label class="control-label col-sm-2" for="Email"placeholder="Escriba su Password">password</label>
						<input class="form-control" type="password" name="password">
						<br/>
						<div class="form-group"> 
						<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
						<label><input type="checkbox"> Remember me</label>
						</div>
						<br/>
						<div class="form-group"> 
						<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Submit</button>
						</p>
						</div>
						</div>
	<footer>
	<cite>Autor: Barcelona Fan</cite>
	</footer>
	<script src="js/jquery.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>